*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style: none;

}

body{
	background: #F0EFF2;
	font-family: industry,sans-serif;
	font-weight: 400;
	font-style: normal;
	color: white;
	font-size: 15px;
	height: 100vh;
	overflow: hidden;
}

.form li::before{
	content: '☉';
	/*background-image: url('');*/
}


/*◈▼▶⊿Ω▣◎☉*/


/*Text*/
h1{
	font-weight: 800;
	font-size: 5rem;
	font-style: normal;
	line-height: 5rem;
	margin-bottom: 1rem;
}
h2{
	font-size: 3rem;
	font-weight: 800;
	line-height: 3rem;

}
h3{
	font-size: 2rem;
}
h4{
	font-size: 20px;
	margin-top: 2rem;
}
h5{
	font-size: 16px;
	font-weight: 600;
}

p{
	margin-bottom: 1rem;
}

a{
	text-decoration: none;
	color: white;
}

strong{
	font-weight: 600;
}

/*Main*/
.landing {
    display: flex;
    justify-content: space-between;
}

.back-rec{
	width: 89vw;
	height: 100vh;
	background: #332E2E;
	/*background-image: url(assets/background.svg);*/
/*	background-size: cover;
	background-repeat: no-repeat;
	background-position-y: -3px;*/
	float: right;
	display: flex;
	align-items: center;
	box-sizing: border-box;
	overflow: hidden;
}
.box {
    width: 70%;
    margin: auto;
    display: flex;
    align-content: space-around;
    justify-content: flex-start;
    position: relative; 
	left: 5rem; 
	top: 1rem;
}
.logotype{
	width: 380px;
}
.info{
	padding-top: 2rem;
	padding-left: 2rem;
	width: 40%;
}
.side{
	padding-top: 3rem;
	width: 11vw;
}
.logo-box{
    position: relative;
    top: -50px;
	width: 70px;
	margin: auto;
}
.logo {
    width: 70px;
}
.title {
/*  position: relative;
    top: 0px;*/
    width: 31vw;
    margin-right: 1em;
}

/*===========
  Buttons
===========*/
#menu {
    position: relative;
    top: 280px;
	left: -165px;
    display: flex;
    width: 44vw;
    transform: rotate(-90deg);
}

#menu li a {
    text-align: center;
    font-weight: 600;
    font-size: 17px;
    background-color: red;
    display: inline-block;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    padding: 8px 35px;
    margin-right: 1em;
}

#doc-button li a{
	text-align: center;
    font-weight: 600;
    font-size: 2rem;
    background-color: red;
    display: inline-block;
    padding: 10px;
    margin-bottom: 1em;
    width: 240px;
    height: 60px;
}

.button-back {
    font-weight: 600;
    font-size: 3rem;
    width: 50px;
    height: 50px;
    position: fixed;
    top: 40px;
    left: 990px;
}

.button-back a{
	color: black;
}



/*================
	Subpages
================*/
.doc{
	/*display: flex;*/
}

.black{
	background: #3C3A3A;
}

.form{
	/*position: relative;*/
	/*top: -50px;*/
    overflow: auto;
    background: red;
    width: 470px;
    height: 600px;
    margin: 3rem auto;
    padding: 2em 2em;
}
.form li{
	margin-bottom: 5px;
}

.form p{
	margin-bottom: 10px;
}

.form img{
	width: 390px;
}


/*Make the width wider and height lower to push it out, instead of
using positioning.*/

/*=============
	Fonts
=============
Industry Book Italic
font-family: industry,sans-serif;
font-weight: 400;
font-style: italic;

Industry Book
font-family: industry,sans-serif;
font-weight: 400;
font-style: normal;

Industry Demi
font-family: industry, sans-serif;
font-weight: 600;
font-style: normal;

Industry Black
font-family: industry, sans-serif;
font-weight: 800;
font-style: normal;*/