*{
	margin: 0;
	padding: 0;
}

/*background color*/
	body{
		background-color: #232629;
		margin: 2em;
	}

/*header*/
h1{
		font-family: countach,sans-serif;
	    font-weight: 700;
	    font-style: normal;
	    color: white;
	    font-size: 100px;
	    text-align: center;
	    margin: 60px auto;
	    border-top: white solid;
	    border-bottom: white solid;
	    width: 50%;
	    padding-bottom: 1%;
	}

p{
		font-family: isonorm,sans-serif;
		font-weight: 400;
		font-style: normal;
		color: white;
		font-size: 35px;
		text-align: center;
		margin: 1em;
}

.right{
		text-align: right;
		margin: 1em;
}


/*10 Alphabet Grid*/
	.ten-alpha{
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
	    width: auto;
	    height: 600px;
	    margin-top: 8em;
	}

	.box{
		border: 2px solid white;
		border-radius: 10%;
	    width: 230px;
	    height: 230px;
	    box-sizing: border-box;
	    padding: 1em;
	}


/*Letter A*/
	.a-body{
		width: 112px;
	 	height: 112px;
	 	background: #99CEFF;
	 	border-radius: 50%;
	 	position: relative;
		top: 35px;
		left: 40px;
		z-index: 2;
	}
	.a-1{
		width: 40px;
	  height: 40px;
	  background: #C1E1FF;
	  border-radius: 50%;
	   	position: relative;
		top: 0px;
	    left: 120px;
	    z-index: 1;
	}
	.a-2{
		width: 50px;
	  height: 50px;
	  background: #C1E1FF;
	  border-radius: 50%;
	   	position: relative;
	    top: -114px;
	    left: 30px;
	    z-index: 3;
	}
	.a-3{
		width: 50px;
	  height: 50px;
	  background: #94CBFF;
	  border-radius: 50%;
	   	position: relative;
	    top: -141px;
	    left: 26px;
	    z-index: 4;

	}
	.a-4{
		width: 60px;
	  height: 60px;
	  background: #B2DAFF;
	  border-radius: 50%;
	   	position: relative;
	    top: -89px;
	    left: 50px;
	    z-index: 5;
	}


/*Letter B*/
	.b{
		position: relative;
		left: 17px;
	}
	.b-1{
		width: 50px;
	  height: 50px;
	  background: #76BDFF;
	  border-radius: 50%;
	   	position: relative;
    	top: 20px;
    	left: 20px;
	    z-index: 1;
	}	
	.b-2{
		width: 50px;
	  height: 50px;
	  background: #99CEFF;
	  border-radius: 50%;
	   	position: relative;
		top: 10px;
	    left: 30px;
	    z-index: 3;
	}
	.b-3{
		width: 50px;
	  height: 50px;
	  background: #94CBFF;
	  border-radius: 50%;
	   	position: relative;
		top: 0px;
	    left: 40px;
	    z-index: 2;
	}
	.b-4{
		width: 50px;
	  height: 50px;
	  background: #C1E1FF;
	  border-radius: 50%;
	   	position: relative;
		top: -80px;
	    left: 65px;
	    z-index: 2;
	}
	.b-5{
		width: 50px;
	  height: 50px;
	  background: #B2DAFF;
	  border-radius: 50%;
	   	position: relative;
    	top: -94px;
    	left: 80px;
	    z-index: 1;
	}


/*Letter C*/
	.c{
		position:relative;
		left: -15px;
		top: 0;
	}
	.c-1{
		width: 50px;
	  height: 50px;
	  background: #94CBFF;
	  border-radius: 50%;
	   	position: relative;
    	top: 50px;
    	left: 120px;
	    z-index: 1;
	}
	.c-2{
		width: 50px;
	  height: 50px;
	  background: #B2DAFF;
	  border-radius: 50%;
	   	position: relative;
	    top: -15px;
	    left: 87px;
	    z-index: 2;
	}
	.c-3{
		width: 50px;
	  height: 50px;
	  background: #C1E1FF;
	  border-radius: 50%;
	   	position: relative;
	    top: -47px;
	    left: 57px;
	    z-index: 3;
	}
	.c-4{
		width: 50px;
	  height: 50px;
	  background: #C1E1FF;
	  border-radius: 50%;
	   	position: relative;
    	top: -70px;
    	left: 50px;
	    z-index: 3;
	}
	.c-5{
		width: 50px;
	  height: 50px;
	  background: #99CEFF;
	  border-radius: 50%;
	   	position: relative;
	    top: -92px;
	    left: 70px;
	    z-index: 4;
	}
	.c-6{
		width: 50px;
	  height: 50px;
	  background: #76BDFF;
	  border-radius: 50%;
	   	position: relative;
    	top: -140px;
    	left: 107px;
	    z-index: 5;
	}

/*Letter D*/
	.d{
		position: relative;
		left: -20px;
	}
	.d-1{
		width: 50px;
	  height: 50px;
	  background: #76BDFF;
	  border-radius: 50%;
	   	position: relative;
    	top: 20px;
    	left: 130px;
	    z-index: 1;
	}	
	.d-2{
		width: 50px;
	  height: 50px;
	  background: #99CEFF;
	  border-radius: 50%;
	   	position: relative;
		top: 10px;
	    left: 120px;
	    z-index: 3;
	}
	.d-3{
		width: 50px;
	  height: 50px;
	  background: #94CBFF;
	  border-radius: 50%;
	   	position: relative;
		top: 0px;
	    left: 107px;
	    z-index: 2;
	}
	.d-4{
		width: 50px;
	  height: 50px;
	  background: #C1E1FF;
	  border-radius: 50%;
	   	position: relative;
		top: -80px;
	    left: 85px;
	    z-index: 2;
	}
	.d-5{
		width: 50px;
	  height: 50px;
	  background: #B2DAFF;
	  border-radius: 50%;
	   	position: relative;
    	top: -94px;
    	left: 70px;
	    z-index: 1;
	}

/*Letter E*/
	.e{
		position:relative;
		left: -13px;
    	top: -10px;
}
	.e-1{
		width: 50px;
	  height: 50px;
	  background: #B2DAFF;
	  border-radius: 50%;
	   	position: relative;
		top: 70px;
    	left: 120px;
	    z-index: 1;
	}
	.e-2{
		width: 50px;
	  height: 50px;
	  background: #C1E1FF;
	  border-radius: 50%;
	   	position: relative;
    	top: -12px;
    	left: 107px;
	    z-index: 3;
	}
	.e-3{
		width: 50px;
	  height: 50px;
	  background: #AFD9FF;
	  border-radius: 50%;
	   	position: relative;
	    top: -60px;
	    left: 64px;
	    z-index: 2;
	}
	.e-4{
		width: 50px;
	  height: 50px;
	  background: #94CBFF;
	  border-radius: 50%;
	   	position: relative;
		top: -80px;
    	left: 50px;
	    z-index: 1;
	}
	.e-5{
		width: 40px;
	  height: 40px;
	  background: #76BDFF;
	  border-radius: 50%;
	   	position: relative;
		top: -110px;
    	left: 90px;
	    z-index: -1;
	}
	.e-6{
		width: 40px;
	  height: 40px;
	  background: #76BDFF;
	  border-radius: 50%;
	   	position: relative;
		top: -130px;
    	left: 59px;
	    z-index: -1;
	}
	.e-7{
		width: 40px;
	  height: 40px;
	  background: #94CBFF;
	  border-radius: 50%;
	   	position: relative;
		top: -145px;
   		left: 79px;
	    z-index: -2;
	}
	.e-8{
		width: 40px;
	  height: 40px;
	  background: #B2DAFF;
	  border-radius: 50%;
	   	position: relative;
		top: -187px;
    	left: 110px;
	    z-index: 2;
	}


/*Letter G*/
	.g{
		position:relative;
		left: 21px;
		top: 0;
	}
	.g-1{
		width: 50px;
	  height: 50px;
	  background: #B2DAFF;
	  border-radius: 50%;
	   	position: relative;
    	top: 70px;
    	left: 30px;
	    z-index: 2;
	}
	.g-2{
		width: 50px;
	  height: 50px;
	  background: #C1E1FF;
	  border-radius: 50%;
	   	position: relative;
    	top: -10px;
    	left: 20px;
	    z-index: 3;
	}
	.g-3{
		width: 50px;
	  height: 50px;
	  background: #AFD9FF;
	  border-radius: 50%;
	   	position: relative;
		top: -83px;
    	left: 54px;
	    z-index: 2;
	}
	.g-4{
		width: 50px;
	  height: 50px;
	  background: #76BDFF;
	  border-radius: 50%;
	   	position: relative;
		top: -106px;
    	left: 80px;
	    z-index: 3;
	}
	.g-5{
		width: 50px;
	  height: 50px;
	  background: #94CBFF;
	  border-radius: 50%;
	   	position: relative;
	    top: -125px;
	    left: 64px;
	    z-index: 1;
	}
	.g-6{
		width: 50px;
	  height: 50px;
	  background: #76BDFF;
	  border-radius: 50%;
	   	position: relative;
	    top: -161px;
	    left: 72px;
	    z-index: -1;
	}
	.g-7{
		width: 50px;
	  height: 50px;
	  background: #94CBFF;
	  border-radius: 50%;
	   	position: relative;
	    top: -178px;
	    left: 65px;
	    z-index: -2;
	}
	 .g-8{
		width: 50px;
	  height: 50px;
	  background: #B2DAFF;
	  border-radius: 50%;
	   	position: relative;
		top: -221px;
    	left: 40px;
	    z-index: -1;
	}




/*Letter N*/
	.n{
		position: relative;
		left: 8px;
		top: 0;
	}
	.n-1{
		width: 50px;
	  height: 50px;
	  background: #94CBFF;
	  border-radius: 50%;
	   	position: relative;
	    top: 110px;
	    left: 20px;
	    z-index: 1;
	}	
	.n-2{
		width: 50px;
	  height: 50px;
	  background: #B2DAFF;
	  border-radius: 50%;
	   	position: relative;
	    top: 29px;
	    left: 25px;
	    z-index: 3;
	}
	.n-3{
		width: 50px;
	  height: 50px;
	  background: #C1E1FF;
	  border-radius: 50%;
	   	position: relative;
		top: -50px;
    	left: 30px;
	    z-index: 2;
	}
	.n-4{
		width: 50px;
	  height: 50px;
	  background: #C1E1FF;
	  border-radius: 50%;
	   	position: relative;
	    top: -113px;
	    left: 65px;
	    z-index: 2;
	}
	.n-5{
		width: 50px;
	  height: 50px;
	  background: #C1E1FF;
	  border-radius: 50%;
	   	position: relative;
       	top: -154px;
    	left: 100px;
	    z-index: 1;
	}
	.n-6{
		width: 50px;
	  height: 50px;
	  background: #99CEFF;
	  border-radius: 50%;
	   	position: relative;
	    top: -170px;
	    left: 104px;
	    z-index: 2;
	}
	.n-7{
		width: 50px;
	  height: 50px;
	  background: #76BDFF;
	  border-radius: 50%;
	   	position: relative;
	    top: -188px;
	    left: 110px;
	    z-index: 3;
	}


	/*Letter M*/
	.m{
		position: relative;
		left: 8px;
		top: 0;
	}
	.m-1{
		width: 50px;
	  height: 50px;
	  background: #94CBFF;
	  border-radius: 50%;
	   	position: relative;
	    top: 110px;
	    left: 20px;
	    z-index: 1;
	}	
	.m-2{
		width: 50px;
	  height: 50px;
	  background: #B2DAFF;
	  border-radius: 50%;
	   	position: relative;
	    top: 29px;
	    left: 25px;
	    z-index: 3;
	}
	.m-3{
		width: 50px;
	  height: 50px;
	  background: #C1E1FF;
	  border-radius: 50%;
	   	position: relative;
		top: -50px;
    	left: 30px;
	    z-index: 2;
	}
	.m-4{
		width: 50px;
	  height: 50px;
	  background: #C1E1FF;
	  border-radius: 50%;
	   	position: relative;
	    top: -73px;
	    left: 65px;
	    z-index: 2;
	}
	.m-5{
		width: 50px;
	  height: 50px;
	  background: #C1E1FF;
	  border-radius: 50%;
	   	position: relative;
       	top: -154px;
    	left: 100px;
	    z-index: 1;
	}
	.m-6{
		width: 50px;
	  height: 50px;
	  background: #99CEFF;
	  border-radius: 50%;
	   	position: relative;
	    top: -170px;
	    left: 104px;
	    z-index: 2;
	}
	.m-7{
		width: 50px;
	  height: 50px;
	  background: #76BDFF;
	  border-radius: 50%;
	   	position: relative;
	    top: -188px;
	    left: 110px;
	    z-index: 3;
	}


/*Letter O*/
	.o{
		position:relative;
   		left: 3px;
    	top: 18px;
	}
	.o-1{
		width: 112px;
	  height: 112px;
	  background: #99CEFF;
	  border-radius: 50%;
	   	position: relative;
    	top: 26px;
    	left: 38px;
	    z-index: 3;
	}
	.o-2{
		width: 70px;
	  height: 70px;
	  background: #C1E1FF;
	  border-radius: 50%;
	   	position: relative;
		top: -54px;
   		left: 58px;
	    z-index: 4;
	}


/*Letter U*/
	.u{
		position: relative;
		left: 8px;
		top: 0px;
	}
	.u-1{
		width: 50px;
	  height: 50px;
	  background: #94CBFF;
	  border-radius: 50%;
	   	position: relative;
	    top: 50px;
	    left: 20px;
	    z-index: 1;
	}	
	.u-2{
		width: 50px;
	  height: 50px;
	  background: #B2DAFF;
	  border-radius: 50%;
	   	position: relative;
	    top: 29px;
	    left: 25px;
	    z-index: 3;
	}
	.u-3{
		width: 50px;
	  height: 50px;
	  background: #C1E1FF;
	  border-radius: 50%;
	   	position: relative;
		top: 10px;
    	left: 33px;
	    z-index: 2;
	}
	.u-4{
		width: 50px;
	  height: 50px;
	  background: #C1E1FF;
	  border-radius: 50%;
	   	position: relative;
    	top: -40px;
    	left: 67px;
    	z-index: 2;
	}
	.u-5{
		width: 50px;
	  height: 50px;
	  background: #C1E1FF;
	  border-radius: 50%;
	   	position: relative;
		top: -88px;
   		left: 110px;
	    z-index: 1;
	}
	.u-6{
		width: 50px;
	  height: 50px;
	  background: #99CEFF;
	  border-radius: 50%;
	   	position: relative;
	    top: -170px;
	    left: 104px;
	    z-index: 2;
	}
	.u-7{
		width: 50px;
	  height: 50px;
	  background: #76BDFF;
	  border-radius: 50%;
	   	position: relative;
	    top: -255px;
	    left: 110px;
	    z-index: 3;
	}


/*Hover-Color*/
	.a:hover .a-body{
		background: white;
	}
	.a:hover .a-1{
		background: white;
	}
	.a:hover .a-2{
		background: white;
	}
	.a:hover .a-3{
		background: white;
	}
	.a:hover .a-4{
		background: white;
	}


	.b:hover .b-1{
		background: white;
	}
	.b:hover .b-2{
		background: white;
	}
	.b:hover .b-3{
		background: white;
	}
	.b:hover .b-4{
		background: white;
	}
	.b:hover .b-5{
		background: white;
	}


	.c:hover .c-1{
		background: white;
	}
	.c:hover .c-2{
		background: white;
	}
	.c:hover .c-3{
		background: white;
	}
	.c:hover .c-4{
		background: white;
	}
	.c:hover .c-5{
		background: white;
	}
	.c:hover .c-6{
		background: white;
	}


	.d:hover .d-1{
		background: white;
	}
	.d:hover .d-2{
		background: white;
	}
	.d:hover .d-3{
		background: white;
	}
	.d:hover .d-4{
		background: white;
	}
	.d:hover .d-5{
		background: white;
	}


	.e:hover .e-1{
		background: white;
	}
	.e:hover .e-2{
		background: white;
	}
	.e:hover .e-3{
		background: white;
	}
	.e:hover .e-4{
		background: white;
	}
	.e:hover .e-5{
		background: white;
	}
	.e:hover .e-6{
		background: white;
	}
	.e:hover .e-7{
		background: white;
	}
	.e:hover .e-8{
		background: white;
	}


	.g:hover .g-1{
		background: white;
	}
	.g:hover .g-2{
		background: white;
	}
	.g:hover .g-3{
		background: white;
	}
	.g:hover .g-4{
		background: white;
	}
	.g:hover .g-5{
		background: white;
	}
	.g:hover .g-6{
		background: white;
	}
	.g:hover .g-7{
		background: white;
	}
	.g:hover .g-8{
		background: white;
	}



	.n:hover .n-1{
		background: white;
	}
	.n:hover .n-2{
		background: white;
	}
	.n:hover .n-3{
		background: white;
	}
	.n:hover .n-4{
		background: white;
	}
	.n:hover .n-5{
		background: white;
	}
	.n:hover .n-6{
		background: white;
	}
	.n:hover .n-7{
		background: white;
	}


	.m:hover .m-1{
		background: white;
	}
	.m:hover .m-2{
		background: white;
	}
	.m:hover .m-3{
		background: white;
	}
	.m:hover .m-4{
		background: white;
	}
	.m:hover .m-5{
		background: white;
	}
	.m:hover .m-6{
		background: white;
	}
	.m:hover .m-7{
		background: white;
	}


	.o:hover .o-1{
		background: white;
	}
	.o:hover .o-2{
		background: white;
	}


	.u:hover .u-1{
		background: white;
	}
	.u:hover .u-2{
		background: white;
	}
	.u:hover .u-3{
		background: white;
	}
	.u:hover .u-4{
		background: white;
	}
	.u:hover .u-5{
		background: white;
	}
	.u:hover .u-6{
		background: white;
	}
	.u:hover .u-7{
		background: white;
	}


/*Hover-Squeeze*/
	.a:hover {
		transform: scale(1.2, 0.5);
	}
	.b:hover {
		transform: scale(1.2, 0.5);
	}
	.c:hover {
		transform: scale(1.2, 0.5);
	}
	.d:hover {
		transform: scale(1.2, 0.5);
	}
	.e:hover {
		transform: scale(1.2, 0.5);
	}
	.g:hover {
		transform: scale(1.2, 0.5);
	}
	.n:hover {
		transform: scale(1.2, 0.5);
	}
	.n:hover {
		transform: scale(1.2, 0.5);
	}
	.m:hover {
		transform: scale(1.2, 0.5);
	}
	.o:hover {
		transform: scale(1.2, 0.5);
	}
	.u:hover {
		transform: scale(1.2, 0.5);
	}


/*Transition*/
	.box div{
		transition: all 0.5s ease;
	}











